body {
    width: 85%;
    background-color: #eeeeee;
    margin-left: auto;
    margin-right: auto;
    background-image: url("/img/beijing.png");
}

.main {
    background-color: white;
}

.btn-publish {
    float: right;
    margin-bottom: 15px;
}

.media-object {
    width: 38px;
    height: 38px;
}

.text-color-999 {
    font-size: 12px;
    font-weight: normal;
    color: #999;
}


.aw-user-name {
    font-size: 12px;
    line-height: 20px;
    font-weight: normal;
}

.community-menu {
    color: #999;
    font-size: 13px;
}

/* 404页面 */
.aw-404 {
    background: #f4f4f4;
}

.aw-404-wrap {
    margin: 100px auto 300px;
    text-align: center;
}

/*回复问题*/
.mod-head {
    position: relative;
    height: auto;
    overflow: hidden;
    min-height: 32px;
    margin-bottom: 10px;
    padding-left: 40px;
    line-height: 28px;
}


.comment {
    margin: 10px 0px 10px 0px;
}

.reply {
    float: right;
    margin-top: 10px;
    margin-bottom: 10px;
}

.like_count {
    color: #999;
}

/*回复列表*/
.erjicomment {
    color: #999;
}

.icon {
    cursor: pointer;
}

.replylist_like_reply {
    margin: 5px 10px 2px 5px;
}

.replylist_like_reply_2 {
    margin-left: 42px
}

.replylist_date {
    float: right;
    font-size: 13px
}

/**
二级评论输入框

 */

.Two_reply {
    margin-left: 20px;
}

.btn_Two_comment {
    float: right;
}

.Two_comment {
    margin: 5px 0px 5px 0px;
    cursor: text;
}

.Two_comment:hover {
    cursor: text;
}

/*comment_two*/
.comment_two {
    margin-left: 20px;
}

/*相关问题*/
.selectRelated {
    list-style: none;
    margin: 0;
    padding: 0;
    list-style: none;
}

.selectRelated li {
    font-size: 12px;
    padding-top: 3px;
    padding-right: 0px;
    padding-bottom: 3px;
    padding-left: 0px;
}
.selectRelated_hr{
    margin-top: 3px;
    margin-bottom: 1px;
}
.selectRelated_a {
    color: #155faa;
}

.selectRelated_a:hover {
    color: RGB(77, 160, 243);
}

.tag_hover{
    margin-right: 6px;
}
.tag_hover:hover{
    border: #2C7EEA 2px solid;
}
.logo{
    cursor:pointer;
}
/*index*/
.index_content{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}