<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<body>

<div th:fragment="foot">
    <div class="aw-footer">
        Copyright © 2020· <a target="_blank" title="简单来说就是转载必须注明本站链接！"
                             href=" ">CC BY-NC-SA 3.0</a>

        <span class="hidden-xs"> · <a href=" " target="blank">键盘侠中文社区</a><span
                class="hidden-xs"> · 服务器赞助: <a href="https://aliyun.com?ref=escn" target="_blank">阿里云</a> · 网站程序: <a
                href=" " target="_blank">WeCenter</a> · <a
                target="_blank" href="/">湘ICP备00000000号</a> </span>
                    <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=908820193&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:908820193:52" alt="带作者一起学习吧" title="带作者一起学习吧"/></a>
			</span></div>

</div>

</body>

</html>

